<link rel="stylesheet" href="/static/css/planAction.css">
    <div class="row text" style="margin: 10px">
        <div class="col">
            <a href="{% url 'compte' %}">
                <buton class="btn btn-success"> Retour </buton>
            </a>
        </div>
        <div class="col">
            <a href="{% url 'pdf' aidant.id %}">
                <button class="btn btn-success"> Exporter le plan en PDF  </button>
            </a>
        </div>
    </div>

    <div class="aidant text-center">
        <ul class="list-group">
            <li class="list-item"><h1 class="text-center">{{ aidant.user.username | upper }}</h1></li>
            <li class="list-item"> <strong> Fait le : </strong> {{ aidant.planAction.date }}</li>
            <li class="list-item"> <strong> Dacant : </strong> {{ aidant.planAction.resultat_dacan }} </li>
            <li class="list-item"> <strong> Zarite: </strong> {{ aidant.planAction.resultat_zarit }} </li>
            <li class="list-item"> <strong> Charge de travail: </strong> {{ aidant.planAction.charge_emotionnel }}</li>
        </ul>
    </div>

        <table class="text custom_table">
            <caption> Aidant {{ aidant.user.username }}</caption>
            <tr>
                    <th>aaa</th>
		<th>aaa</th>
<th>aaa</th>
<th>aaa</th>
<th>aaa</th>
<th>aaa</th>
	<tr>
	</table>
